
<%= form_for @question do |f| %>

<%= f.label :content %> <br>

<%= f.text_area :content %>  <br>
<div class="field">
    </div>

<%= f.submit  id: 'ask question' %>


<% end %>

<% @questions.each do |question| %>
<br>
	    <% if question.anonymous %>
		Anonymous asked 
		<% else %>
	    <%= question.user.email %>	asked
	    <% end %> 


	    <%= question.content %>

	    <%= link_to question.upvote_question(current_user.id), url_for(controller: 'upvotequestions', action: 'upvote', question_id: question.id), method: :post %>  <%= question.upvotequestions.count %>

      <%= form_for @answer do |f| %> 

       <%= f.text_area :content %>  <br> 

<input type="hidden" name="question_id" value="<%= question.id %>">

           <%= f.submit  id: 'comment' %>
        <% end %> 

        <% question.answers.each do |answer| %>
        <% user_id=answer.User_id %>
       <% user=User.where(id: user_id).first %>

        <%=user.email %> answered <%= answer.content %>

         <%= link_to answer.upvote_answer(current_user.id), url_for(controller: 'upvoteanswers', action: 'toggle', answer_id: answer.id), method: :post %>  <%= answer.upvoteanswers.count %>
        	<% end %>

	
	
	<br>
<% end %>